input,textarea,select{
	padding: 4px;
	font-size: 14px;
}
input,textarea,.h-input{
	border: 1px solid #bcbcbc;
}
/*状态 status input*/
/*default*/
input:focus,
textarea:focus,
input.focus,
textarea.focus{
	border-color: #3a9aff;
	outline: 0;
	-webkit-box-shadow:inset 0px 3px 2px rgba(58, 154, 255, .075);
	box-shadow:inset 0px 3px 2px rgba(58, 154, 255, .075);
}
/*blue-primary*/
input.blue:focus,
textarea.blue:focus,
input.primary:focus,
textarea.primary:focus,
input.primary.focus,
textarea.primary.focus{
	border-color: #3a9aff;
	outline: 0;
	-webkit-box-shadow:inset 0px 3px 2px rgba(58, 154, 255, .075);
	box-shadow:inset 0px 3px 2px rgba(58, 154, 255, .075);
}
/*green-success*/
input.green:focus,
textarea.green:focus,
input.success:focus,
textarea.success:focus,
input.success.focus,
textarea.success.focus{
	border-color: #8fbe33;
	outline: 0;
	-webkit-box-shadow:inset 0px 3px 2px rgba(143, 190, 51, .075);
	box-shadow:inset 0px 3px 2px rgba(143, 190, 51, .075);
}
/*sky-blue-info*/
input.info:focus,
textarea.info:focus,
input.sky-blue:focus,
textarea.sky-blue:focus,
input.sky-blue.focus,
textarea.sky-blue.focus{
	border-color: #8fbeef;
	outline: 0;
	-webkit-box-shadow:inset 0px 3px 2px rgba(143, 190, 239, .075);
	box-shadow:inset 0px 3px 2px rgba(143, 190, 239, .075);
}
/*orange-warning*/
input.warning:focus,
textarea.warning:focus,
input.orange:focus,
textarea.orange:focus,
input.warning.focus,
textarea.warning.focus{
	border-color: #ff6700;
	outline: 0;
	-webkit-box-shadow:inset 0px 3px 2px rgba(255, 103, 0, .075);
	box-shadow:inset 0px 3px 2px rgba(255, 103, 0, .075);
}
/*red-danger*/
input.red:focus,
textarea.red:focus,
input.danger:focus,
textarea.danger:focus,
input.danger.focus,
textarea.danger.focus{
	border-color: #e53935;
	outline: 0;
	-webkit-box-shadow:inset 0px 3px 2px rgba(229, 57, 53, .075);
	box-shadow:inset 0px 3px 2px rgba(229, 57, 53, .075);
}
/*round*/
input.round{
	border-radius: 3px;
}
/*block*/
input.block,textarea.block,select.block{
	display: block;
}
/*disabled*/
input[disabled],textarea[disabled],select[disabled],
input.disabled,textarea.disabled,select.disabled{
	cursor: not-allowed;
}
/*readonly*/
input[readonly],textarea[readonly],select[readonly],
input.readonly,textarea.readonly,select.readonly{
	cursor: not-allowed;
}
/*select*/
select option{
	padding: 4px;
}
/*大小 size*/
input.xlarge{
	padding: 6px;
	font-size: 20px;
}
input.large{
	padding: 6px 10px;
	font-size: 16px;
}
input.small{
	padding: 3px;
	font-size: 12px;
}
input.mini{
	padding: 1px;
	font-size: 12px;
}